// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.claps-container {
  @media screen and (max-width: 720px) {
    flex-direction: column;
  }

  display: flex;
  justify-content: center;
  align-items: center;


  a {

    font-size: 36px;
    margin-left: 24px;
    outline: none;
    color: #0056b3;

    &:hover {
      text-decoration: none;

      .fa-thumbs-up {
        transform: rotate(-25deg);
      }
    }

    .fa-thumbs-up {
      transition: 0.3s;
      font-size: 54px;
    }

    &:active {
      .fa-thumbs-up {
        transform: rotate(0deg);
      }
    }

    @media screen and (max-width: 720px) {
      margin-left: 0;
    }
  }
}

#claps-count {
  font-size: 70px;
}
